$('#flash').hide().html("#{escape_javascript(show_flash)}").fadeIn();
$("#todos").html("#{escape_javascript(render 'tasks.html.haml')}");

- if Task.todo.count > 0
  $("#todos_menu").html("#{escape_javascript(link_to("Todos (#{Task.todo.count})", todos_path))}");
- else
  $("#todos_menu").html("Todos");