- @tasks.each do |task|
  %tr
    %td= task.name
    %td= select_tag :workspace_id,
                    grouped_options_for_select(workspace_select_list),
                    :prompt => '[Select workspace]',
                    :class => 'workspace-selector',
                    :data => {:remote => true, :url => draft_path(task), :method => :put}
    %td= link_to 'Destroy', draft_path(task), :confirm => 'Are you sure?', :method => :delete, :remote => true
