$('#flash').hide().html("#{escape_javascript(show_flash)}").fadeIn();

- if @tasks
  $("#drafts").html("#{escape_javascript(render 'tasks.html.haml')}");
  - if @tasks.count > 0
    $("#classify_menu").html("#{escape_javascript(link_to("Classify (#{@tasks.count})", drafts_path))}");
  - else
    $("#classify_menu").html("Classify");